body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    background-color: black;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
}

table {
    width: 100%;
}

button {
    width: 100%;
    height: 60px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #e0e0e0;
}

button:active {
    background-color: #d0d0d0;
}

.equal {
    height: 130px; /* Make '=' button larger */
    background-color: #ff9800;
    color: white;
}

.equal:active {
    background-color: #e68900;
}